<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="layout">

        <h1>some petition text</h1>

        {{{ body }}}

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script src="/canvas.js" charset="utf-8"></script>

    </body>
</html>
