<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
        <!-- <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Leckerli+One|Roboto" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=Leckerli+One|Montserrat+Subrayada:700|Righteous|Roboto" rel="stylesheet">
<!-- <link href="https://fonts.googleapis.com/css?family=Leckerli+One|Montserrat+Subrayada:700|Roboto" rel="stylesheet"> -->
    </head>
    <body class="layout">

        <h1>Gardens and parks on all the rooftops</h1>
        <!-- <img src="roof.jpg"></img> -->
        <!-- <img class="background" src="https://netmagmedia.s3.amazonaws.com/uploads/2016/05/210096-MED_352_N7-c76ba2-large-1464080896-e1464095408301.jpg"> -->
        {{{ body }}}

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <script src="/canvas.js" charset="utf-8"></script>

    </body>
</html>
