<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/style.css">
        <link href="https://fonts.googleapis.com/css?family=Leckerli+One|Montserrat+Subrayada:700|Righteous|Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    </head>

    <body>

        <h1>Gardens and parks on all the rooftops</h1>

        <img src="/img/rooftop.jpg" alt="green rooftop illustration">

        {{{ body }}}

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="/canvas.js" charset="utf-8"></script>

    </body>
</html>
