<!-- <h1>Log in:</h1> -->

{{#if error}}
<div class="error">Oops! Something went wrong. Please try again.</div>
{{/if}}

<div class="log">
<form method="POST" action="/login" class="login">
<input type="email" name="email" placeholder="email">
<input type="password" name="password" placeholder="password">
<input type='hidden' name='_csrf' value="{{csrfToken}}">
<button type="submit">Submit</button>
</form>

<h2 class="signup" ><a href="/register">Sign up</a></h2>
</div>
