<h1>Please log in:</h1>

{{#if error}}
<div class="error">Oops! Something went wrong. Please try again.</div>
{{/if}}

<form method="POST" action="/login" class="login">
<input type="email" name="email" placeholder="email address">
<input type="password" name="password" placeholder="password">

<input type='hidden' name='_csrf' value="{{csrfToken}}">

<button type="submit">Submit</button>
<h2><a href="/register">sign up</a></h2>

</form>
