<form>
<input type="text" name="first" placeholder="first name">
<input type="text" name="last" placeholder="last name">
<input type="password" name="password" placeholder="password"></input>
<input type="email" name="email" placeholder="email"></input>
<button type="submit">Submit</button>

</form>

<h1>If you're already a member, please <a href="/login">log in</a></h1>
