
<h4>Thank you for signing the petition!</h4>

<img class="signature" src="{{signature}}">

<div class="thanks">

<a href="/signers">See all the {{number}} signers</a>
<a href="/profile/edit">Edit your profile</a>
<a href="/logout">Logout</a>


<form method="POST">
<input type='hidden' name='_csrf' value="{{csrfToken}}">
<button class="delete" type="submit">Delete your signature</button>
</form>
</div>
