* {
    font-family: "Ubuntu", sans-serif;
}

html {
    min-height: 100%;
}

body {
    height: 100%;
}

img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

a {
    color: rgb(115, 204, 2);
    text-shadow: 2px 2px 2px rgb(139, 24, 59);
    font-size: 25px;
    margin: 5px;
    text-decoration: none;

}

h1 {
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: 40px;
    color: rgb(11, 116, 22);
    text-align: center;
    position: relative;
    z-index: 22;
}

h2 {
    color: rgb(126, 8, 40);
    padding: 5px;
    text-align: center;
    font-size: 30px;
    position: relative;
}

h3.text {
    position: relative;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20%;
}

h3 {
    color: rgb(126, 8, 40);
    padding: 5px;
    text-align: center;
    font-size: 25px;
    position: relative;
}

h4 {
    text-align: center;
    font-size: 50px;
    color: rgb(126, 8, 40);
    position: relative;
}

p {
  position: relative;
  font-size: 20px;

  text-align: center;
  color: rgb(11, 116, 22);
  z-index: 22;
}

input {
    margin: 10px;
    border-top:	2px solid rgb(205, 214, 187);
  	border-left: 2px solid rgb(205, 214, 187);
  	border-right:	2px solid rgb(26, 62, 21);
	  border-bottom: 2px solid rgb(26, 62, 21);
    font-size: 20px;
    width: 190px;
    height: 40px;
    /* background-color: transparent; */
}

button {
    margin: 10px;
    font-size: 20px;
    width: 193px;
    height: 43px;
    background: rgb(126, 8, 40);
    color: white;
    border-top:	2px solid rgb(144, 0, 52);
  	border-left: 2px solid rgb(144, 0, 52);
  	border-right:	2px solid rgb(37, 3, 15);
  	border-bottom: 2px solid rgb(37, 3, 15);
}

button:focus {
    outline: none;
}

img.signature {
    position: relative;
    width: 70vw;
    height: 30vh;
    top: 0;
    left: 15%;
    right: 0;
    bottom: 0;
    margin-bottom: 5%;
}

.canvas {
    position: relative;
    border: black solid 5px;
    width: 900px;
    height: 180px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.submitSign {
    margin-top: 2em;
    position: relative;
    bottom:0.5em;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile {
    display: grid;
    justify-content: center;
}

.thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.delete {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: transparent;
    font-size: 25px;
    text-decoration: none;
    background: transparent;
    width: 100%;
    color: rgb(115, 204, 2);
    text-shadow: 2px 2px 2px rgb(139, 24, 59);
    cursor: pointer;
}

.log {
    position: fixed;
    top: 41%;
    left: 10%;
    right: 0;
    bottom: 0;
    /* z-index: 1; */
}

.registerPlace {
    position: fixed;
    top: 30%;
    left: 10%;
    right: 0;
    bottom: 0;
}

.profilePlace {
    position: fixed;
    top: 38%;
    left: 10%;
    right: 0;
    bottom: 0;
}

.signers {
    text-align: center;
    color: black;
    text-shadow: none;
}

.edit {
    position: fixed;
    top: 15%;
    left: 10%;
    right: 0;
    bottom: 0;
}

.grid {
    display: grid;
    justify-content: center;
}
.error {
    text-align: center;
}
